.filter {
    margin-top: 20px;
    margin-left: 300px;
}

.filterTitle {
    font-weight: bold;
    font-size: 40px;
    color: rgb(38, 17, 53);
    text-shadow: 5px 5px 5px indigo;
    font-style: italic;
}

.filterInput {
    height: 40px;
    width: 500px;
    background-color: rgb(253, 218, 253);
    border-color: rgb(253, 218, 253);
    box-shadow: 3px 3px 3px indigo;
    border-radius: 10px;
    font-size: 30px;
}