.form {
    text-align: center;
}

.contactsList {
    display: flex;
}


.contactsTitle {
    font-size: 40px;
    color: rgb(38, 17, 53);
    text-shadow: 5px 5px 5px indigo;
    font-style: italic;
}