.contactsSection {
    width: 600px;
    margin-left: 250px;
}

.contactsTitle {
    font-size: 40px;
    color: rgb(38, 17, 53);
    text-shadow: 5px 5px 5px indigo;
    font-style: italic;
}

.contactsList {
    background-color: white;
    border: 1px solid indigo;
    border-radius: 5px;
    text-align: start;
}

.contactsItem {
    display: flex;
    color: rgb(91, 39, 128);
    font-style: italic;
    font-size: 18px;
    text-shadow: 15px 15px 15px rgb(253, 218, 253);
    align-items: center;
}

.contactName {
    margin: 12px 0;
}

.deleteBtn {
    display: block;
    height: 35px;
    font-size: 16px;
    color:  rgb(253, 218, 253);
    background-color: indigo;
    border-radius: 5px;
    box-shadow: 3px 3px 3px indigo;
    margin-left: auto;
    margin-right: 10px;
}